



// 
@import './base/variables';
@import './base/reset';
@import './base/mixin';


.app {
    height: 100%;
    font-size: 1.03vw;

    @media (max-width: 900px) {
        font-size: calc(0 * 0vw + 1em);
      }

    &__main {
        display: flex;
        height: 100%;
    }


    &__routes {
        padding-top: 4.5em;
        background-color: $back;
        padding-left: 17em;
        width: 100%;
        height: 100vh;
    }
}

// Components
@import './components/public-header';
@import './components/hero';
@import './components/navbar';
@import './components/login';
@import './components/register';
@import './components/sidebar';
@import './components/company-dashboard';
@import './components/restaurant-dashboard';
@import './components/profile-dashboard';
@import './components/private-header';
@import './components/profile-manage';
@import './components/profile-card';
@import './components/profile-editor';
@import './components/create-manage-card-additions';
@import './components/profilviewer';